#items{
 position: fixed;
 top: 0px;
height: 100%;
 background: rgba(11,12,14);
padding: 15px;
 width: 200px; 
left: -200px; 
color: white;
padding: 50px; 
transition:  left 0.2s linear;
}
.fa-bars{
  position: absolute; 
  padding-left:2%;
    transition:  padding-left 0.2s linear;
}
    body{
      overflow-y: scroll;

    }
    ul{
      padding:  20px;
    }
    li{
      padding-top: 10px;
    }